<main>
  <h1 style="font-variant: small-caps">{{ model.title }}</h1>
  <h2 [style.color]="model.color">{{ model.subtitle }}</h2>

  <div>
    <span>Timing:</span>
    <input type="range" min="100" max="2000" [(ngModel)]="model.timing" />
    <span>{{ model.timing }}</span>
    <span class='button' (click)='increment()'>Incrementa Timing</span>
  </div>
  <div>
    <span>Color:</span>
    <input type="color" [(ngModel)]="model.color" />
    <span>{{ model.color }}</span>
  </div>
  <div>
    <span>Messaggio:</span>
    <input type="text" [(ngModel)]="message" />
  </div>

  <app-sample message="Ciao da App"></app-sample>
  <app-sample message="Secondo messaggio"></app-sample>
  <app-sample message="Terzo messaggio"></app-sample>
  <app-sample [message]="message" (messageModified)="handleChildEvent($event)"></app-sample>

  <ul>
    <li *ngFor="let post of blog">
      <app-post [postId]="post.id"></app-post>
    </li>
  </ul>

  <ol>
    <li *ngFor="let number of numbers | filter: 'even' : 10">
      <span>{{number}}</span>
    </li>
  </ol>
</main>

<router-outlet />