.button {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(5, 53, 54);
    box-shadow: 2px 2px 3px darkgray;
    color: wheat;
}
