<h1>Standard Calculator</h1>
<div class="calculator">
    <app-display></app-display>
    <div class="row">
        <app-button digit="7"></app-button>
        <app-button digit="8"></app-button>
        <app-button digit="9"></app-button>
        <app-operator operator="&div;" operation="/"></app-operator>
    </div>
    <div class="row">
        <app-button digit="4"></app-button>
        <app-button digit="5"></app-button>
        <app-button digit="6"></app-button>
        <app-operator operator="&times;" operation="*"></app-operator>
    </div>
    <div class="row">
        <app-button digit="1"></app-button>
        <app-button digit="2"></app-button>
        <app-button digit="3"></app-button>
        <app-operator operator="&minus;" operation="-"></app-operator>
    </div>
    <div class="row">
        <app-operator operator="&plusmn;"></app-operator>
        <app-button digit="0"></app-button>
        <app-comma></app-comma>
        <app-operator operator="&plus;" operation="+"></app-operator>
    </div>
</div>