<div class="calculator">
    <app-display></app-display>
    <div class="row">
        <app-button digit="7"></app-button>
        <app-button digit="8"></app-button>
        <app-button digit="9"></app-button>
        <app-operator operator="&div;"></app-operator>
    </div>
    <div class="row">
        <app-button digit="4"></app-button>
        <app-button digit="5"></app-button>
        <app-button digit="6"></app-button>
        <app-operator operator="&times;"></app-operator>
    </div>
    <div class="row">
        <app-button digit="1"></app-button>
        <app-button digit="2"></app-button>
        <app-button digit="3"></app-button>
        <app-operator operator="&minus;"></app-operator>
    </div>
    <div class="row">
        <app-operator operator="&plusmn;"></app-operator>
        <app-button digit="0"></app-button>
        <app-button digit="0"></app-button>
        <app-operator operator="&plus;"></app-operator>
    </div>
</div>